{:deps     true
 :nrepl    {:port #shadow/env ["CLJS_NREPL_PORT" :as :int :default 7400]}
 :dev-http {8080 "resources/public"}
 :builds   {:dev {:target           :browser
                  :output-dir       "resources/public/js"
                  :compiler         {:optimizations :none}
                  :compiler-options {:warnings {:redef false}
                                     :externs  ["datascript/externs.js"]}
                  :devtools         {:watch-dir  "resources/public"
                                     :after-load defacto-todo.app/load!}
                  :modules          {:main {:init-fn defacto-todo.app/init!}}}}}
